body{
    background-color: #43455C;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.headerText{
    font-weight: bold;
    font-size: 50px;
    color: #3BBA9C;
    margin: 0;
    width: 500px;
}

#headerTextContainer{
    margin-left: 150px;
}

#subtitleHeader{
    color: #52567d;
    font-style: italic;
    font-size: 30px;
    font-weight: normal;
}



#contentContainer{
    display:flex;
    position: relative;
    top: 150px;
    z-index: 1000;
}

.contentBox{
    background-color: #2E3047;
    width: 450px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #3BBA9C;
    transform: scale(1);
    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
    z-index: 1000;
}

.contentBox:hover {
    transform-origin: top left;
    width: 720px;
    height: 300px;
    z-index: 1001;
}

.unhoveredContent, .hoveredContent {
    position: absolute;
    top: 0;
    left: 0;
}

.unhoveredContent {
    margin: 5px;
    opacity: 1;
    z-index: 2000;
    width: 450px;
    transition: opacity 0.5s ease;
}

.hoveredContent {
    margin: 5px;
    opacity: 0;
    z-index: 2001;
    transition: opacity 0.5s ease;
    width: auto;
}

.contentBox:hover .unhoveredContent {
    opacity: 0;
}

.contentBox:hover .hoveredContent {
    opacity: 1;
}

#bordergifs{
    display: flex;
    align-items: flex-start;
    position: fixed;
    margin-left: 950px;
    margin-top: 150px;
    z-index: 1;
}

#catjump{
    width: 329px;
    height: 386;
    z-index: 9999 ;
}

#pfp{
    width: 120px;
    height: 120px;
    border-radius: 20%;
    border: 2px solid #3BBA9C;
    margin: 10px;
}


footer {
    background-color: #2E3047;
    color: #3BBA9C;
    border-top: 2px solid #3BBA9C;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .boxHeaderText{
    font-weight: bold;
    font-size: 30px;
    color: #3BBA9C;
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 20px;
  }

  .boxContent{
    display: flex;
  }

  .boxInnerText{
    font-weight: normal;
    font-size: 20px;
    color:azure;
    margin-top: 0;
    margin-left: 5px;
  }


#computerCatGif{
  margin-top: -30px;
  padding-left: 0;
  height: 160px;
  width: 100px;

}


.boxHeaderTextHovered{
  font-weight: bold;
  font-size:40px;
  color: #3BBA9C;
  margin-top: 0;
  margin-left: 5px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.boxContentHovered{
  display: flex;
}

.boxInnerTextHovered{
  font-weight: normal;
  font-size: 20px;
  color:azure;
  margin-top: 0;
  margin-left: 5px;
  width: 50%;
}

#itesmLogo{
  width: 270px;
}

.logo{
  width: 75px;
  margin: 10px;
}

#pfp2{
  width: 100px;
}

.ProjectPoint{
  font-size: 20px;
  color: azure;
  margin-top: 0;
  margin-left: 5px;
  padding-bottom: 0;
  margin-bottom: 5px;
  width: auto;
}

.logoSmall{
  width: 50px;
  margin: 2px;
  margin-top: -10px;
  margin-left: 25px;
}

.projectsUnhovered{
  display: block;
}

.buttonAbout{
  background-color: #3BBA9C;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.header {
  background-color: #2E3047;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  position: fixed;
  z-index: 9999;
  top: 0;
}
#monkeygifeat {
  margin-left: 100px;
  height: 500px;
  width: 500px;
  border: 2px solid #3BBA9C;
  border-radius: 50%;
}

.hideAnimation {
  animation-name: hideMonkey;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  0% {
    
    transform: translateY(0);
  }
  100% {
    height: 150px;
    transform: translateY(0px);
  }
}



@keyframes hideMonkey {
  0% {
    opacity: 1;

  }
  100% {
      opacity: 0;
      height: 1px;
      width: 1px;
  }
}

.reverse {
  animation-name: reverseSlideUp;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.reversemonkey {
  animation-name: showMonkey;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes showMonkey {
  0% {
    opacity: 0;
    height: 1px;
    width: 1px;
  }
  100% {
      opacity: 1;
      height: 500px;
      width: 500px;
  }
}


@keyframes reverseSlideUp {
  0% {
    transform: translateY(0);
    height: 150px;
  }
  100% {
    height: 100vh;
  }
}

.proyectImage{
  width: 150px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #3BBA9C;
}

.proyectImage:hover{
  height: auto;
  border-radius: 10px;
  border: 2px solid #3BBA9C;
  /*transform from top left corner*/
  transform: scale(3);
}

#proyectImages{
  margin-top: -50px;
  margin-left: 20px;
}

#projectList{
width: 70%;
}